<section>
	<h3>Let's work together</h3>

	<form action="https://formspree.io/{{ site.data.settings.email }}" method="POST">
		<fieldset class="contact-info-group">
			<label>
				<span>Your Name</span>
				<input type="text" name="name">
				<span class="error-message">Input Your Name!</span>
			</label>
			<label>
				<span>Your Email</span>
				<input type="email" name="_replyto">
				<span class="error-message">Input Your Email!</span>
			</label>
		</fieldset>
		<label>
			<span>Tell me about your project</span>
			<textarea name="message"></textarea>
			<span class="error-message">Input Your Message!</span>
		</label>
		<input type="submit" value="Send">
	</form>
</section>