footer
	@extend %bg-img
	background-image: url(/assets/img/#{$logo-path}), url(/assets/img/#{$hero-path})

	.lockup
		padding: 50px 30px
		+clearfix

		// .logo
		// 	+size(50px)
		// 	float: left
		// 	margin-right: 30px

		// 	path
		// 		fill: rgba(0,0,0,.5)

		.content-wrap
			float: left
			margin-left: 80px

			.copyright
				margin: 0
				color: rgba(0,0,0,.4)
				font-size: 12px
				text-transform: uppercase

			a
				display: inline-block
				margin-right: 30px
				@extend %small-bold
				color: rgba(0,0,0,.5)

				&:hover
					color: rgba(0,0,0,.7)